<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gps">
    
    <link name="gps_link"/>

    <joint name="gps_to_payload" type="fixed">
        <parent link="payload_link"/>
        <child link="gps_link"/>
        <origin xyz="-0.10 0.05 0.135" rpy="0 0 0"/>
    </joint>

    <gazebo reference="gps_link">
        <sensor name="gps" type="navsat">
            <always_on>1</always_on>
            <update_rate>1</update_rate>
            <visualize>true</visualize>
            <topic>/fix</topic>
            <gz_frame_id>gps_link</gz_frame_id>
            <enable_metrics>true</enable_metrics>
        </sensor>
    </gazebo>

    <gazebo>
      <plugin filename="gz-sim-navsat-system" name="gz::sim::systems::NavSat"/>
    </gazebo>

</robot>
