<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover_mini">
    <xacro:property name="wheel_z_offset" value="0.081" />
    <xacro:property name="wheel_x_offset" value="0.11" />
    <xacro:property name="front_wheel_x_offset" value="0.006" />
    <xacro:property name="wheel_y_offset" value="0.155" />
    <xacro:property name="wheel_mass" value="3.62874" />
    <xacro:property name="chassis_mass" value="1.36078" />

    <link name="base_link" />

    <link name="chassis_link">
        <visual>
            <origin xyz="0.01 0.02 0.0965" rpy="0 -0 1.5708" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/mini_chassis.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0.01 0.02 0.0965" rpy="0 -0 1.5708" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/mini_chassis.dae"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0.0 0.00 0.1" rpy="1.5708 1.5708 1.5708"/>
            <mass value="${chassis_mass}" />
            <inertia ixx="0.006453" ixy="0"  ixz="0" iyy="0.0117" iyz="0" izz="0.015812" />
        </inertial>
    </link>

    <joint name="base_to_chassis" type="fixed">
        <parent link="base_link"/>
        <child link="chassis_link"/>
    </joint>

    <link name="fl_wheel_link">
        <visual>
            <origin xyz="${wheel_x_offset - front_wheel_x_offset} ${wheel_y_offset} ${wheel_z_offset}" rpy="1.57 3.1415 0" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/hub_6.5in.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="${wheel_x_offset - front_wheel_x_offset} ${wheel_y_offset} ${wheel_z_offset}" rpy="1.57 3.1415 0" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/hub_6.5in.dae"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="${wheel_x_offset - front_wheel_x_offset} ${wheel_y_offset} ${wheel_z_offset}" rpy="0 1.57 1.57" />
            <mass value="${wheel_mass}" />
            <inertia ixx="0.008093" ixy="0"  ixz="0" iyy="0.014226" iyz="0" izz="0.008093" />
        </inertial>
    </link>
    <joint name="fl_wheel_to_chassis" type="fixed">
        <parent link="chassis_link"/>
        <child link="fl_wheel_link"/>
    </joint>

    <link name="fr_wheel_link">
        <visual>
            <origin xyz="${wheel_x_offset - front_wheel_x_offset}  ${-wheel_y_offset} ${wheel_z_offset}" rpy="1.57 3.1415 3.1415" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/hub_6.5in.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="${wheel_x_offset - front_wheel_x_offset}  ${-wheel_y_offset} ${wheel_z_offset}" rpy="1.57 3.1415 3.1415" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/hub_6.5in.dae"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="${wheel_x_offset - front_wheel_x_offset}  ${-wheel_y_offset} ${wheel_z_offset}" rpy="1.57 3.1415 3.1415" />
            <mass value="${wheel_mass}" />
            <inertia ixx="0.008093" ixy="0"  ixz="0" iyy="0.014226" iyz="0" izz="0.008093" />
        </inertial>
    </link>
    <joint name="fr_wheel_to_chassis" type="fixed">
        <parent link="chassis_link"/>
        <child link="fr_wheel_link"/>
    </joint>

    <link name="rl_wheel_link">
        <visual>
            <origin xyz="${-wheel_x_offset} ${wheel_y_offset} ${wheel_z_offset}" rpy="1.57 3.1415 0" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/hub_6.5in.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="${-wheel_x_offset} ${wheel_y_offset} ${wheel_z_offset}" rpy="1.57 3.1415 0" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/hub_6.5in.dae"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="${-wheel_x_offset} ${wheel_y_offset} ${wheel_z_offset}" rpy="1.57 3.1415 0" />
            <mass value="${wheel_mass}" />
            <inertia ixx="0.008093" ixy="0"  ixz="0" iyy="0.014226" iyz="0" izz="0.008093" />
        </inertial>
    </link>
    <joint name="rl_wheel_to_chassis" type="fixed">
        <parent link="chassis_link"/>
        <child link="rl_wheel_link"/>
    </joint>

    <link name="rr_wheel_link">
        <visual>
            <origin xyz="${-wheel_x_offset} ${-wheel_y_offset} ${wheel_z_offset}" rpy="1.57 3.1415 3.1415" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/hub_6.5in.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="${-wheel_x_offset} ${-wheel_y_offset} ${wheel_z_offset}" rpy="1.57 3.1415 3.1415" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/hub_6.5in.dae"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="${-wheel_x_offset} ${-wheel_y_offset} ${wheel_z_offset}" rpy="1.57 3.1415 3.1415" />
            <mass value="${wheel_mass}" />
            <inertia ixx="0.008093" ixy="0"  ixz="0" iyy="0.014226" iyz="0" izz="0.008093" />
        </inertial>
    </link>
    <joint name="rr_wheel_to_chassis" type="fixed">
        <parent link="chassis_link"/>
        <child link="rr_wheel_link"/>
    </joint>


</robot>
