<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover_mini_payload">
    
    <xacro:include filename="$(find roverrobotics_description)/urdf/mini.urdf" />

    <link name="payload_link">
        <visual>
            <origin xyz="0 0.0115 0.207" rpy="1.57 -0 1.57" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/rover_payload.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0.0115 0.207" rpy="1.57 -0 1.57" />
            <geometry>
                <mesh filename="package://roverrobotics_description/meshes/rover_payload.dae"/>
            </geometry>
        </collision>
    </link>

    <joint name="payload_to_chassis" type="fixed">
        <parent link="chassis_link"/>
        <child link="payload_link"/>
    </joint>


</robot>
